# Ignore Company Protocol Reports
Company_Protocols_Report.html
Company_Protocols_Report_v*.html

# Ignore personal resume
"Darryl Wessling 31.3.25 (1).pdf"

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore any local environment files
.env
